<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mein</title>
</head>
<style>
        a.btn {
            color: #fff;
            background-color: #ffcc29;
            text-decoration: none;
            padding: 8px 15px;
            margin-right: 10px;
            border-radius: 5px;
            transition: background-color 0.3s, transform 0.3s;
        }
        a.btn:hover {
            background-color: #ff0000;
            transform: scale(1.1);
        }
</style>
<body>
    <div>
        <a href="/login" class="btn">Увійти</a>
        <a href="/registration" class="btn">Зареєструватися</a>
        <a href="/create_post" class="btn">Зробити пост</a>
        <a href="/search" class="btn">Пошук користувачів</a>
        <a href="/" class="btn">Всі пости</a>
    </div>
</body>
</html>