<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Оновлення профілю</title>
</head>
<body>
    <h2>Оновлення профілю</h2>
    <form method="POST" action="{% url 'update_profile' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <label for="username" id="username">Ім'я:</label>
        <input type="text" name="username" value="{{ user.username }}" required>

        <input type="text" name="profile_BIO">


        <button type="submit">Зберегти зміни</button>
    </form>
</body>
</html>




